html {
  font-family: 'Lato'
}

body {
  margin: 0
}

#root {
  height: 100%;
}

h3 {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}

#app-container {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 100px 1fr;
}
.disabled {
  opacity: 0.3;
  cursor: default;
}

.disabled .disabled {
  opacity: 1;
}

.page-control.disabled button:hover {
  background-color: #FF7944;
}

.page-control.disabled button:active {
  background-color: #FF7944;
}

.page-control.disabled button:focus {
  outline: none;
}

.page-control .disabled:hover {
  background-color: #FF7944;
}

.page-control .disabled:active {
  background-color: #FF7944;
}

.page-control .disabled:focus {
  outline: none;
}

.home {
  grid-row: 2;
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
}

h1 {
  font-family: 'Unlock', cursive;
  margin: auto 0;
  margin-right: 3em;
  font-size: 2.5em;
}

.header {
  background: #455a6f;
  color: #FF7944;
  border-bottom: #FF7944 solid 4px;
  grid-row: 1;
  display: flex;
}

.header a {
  padding: 0 2em;
  font-size: 1.25em;
  text-decoration: none;
  color: #FF7944;
  display: flex;
  font-weight: bold;
}

.header a div {
  margin: auto;
}

.header a.selected {
  background: #FF7944;
  color: #34495e;
}

.header-margin {
  display: flex;
}

.margin {
  margin: 0 300px;
}

.not-found {
  font-size: 2em;
  width: 100%;
  background: #34495e;
  color: white;
}

.about {
  background: #34495e;
  color: white;
}

.sidebar {
  background: #34495e;
  color: white;
  grid-column: 2;
  padding: 2em 3em;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.annotation {
  margin-top: auto;
  flex: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

a {
  color: #FF7944;
}

.rsm-geographies {
  fill: white;
}

.rsm-geographies path:focus,
.rsm-marker:focus {
  outline: none;
}

.rsm-marker circle {
  fill: #FF7944;
  stroke: #FF5722;
  stroke-width: 3;
  r: 5;
  cursor: pointer;
}

.rsm-marker circle:hover {
  fill: #FFaa77;
}

circle.focused {
  fill: #FF5722;
  stroke: #902500;
  stroke-width: 5;
  r: 8;
  cursor: default;
}

circle.searchCenter {
  fill: #34495e;
  stroke: none;
  r: 10;
  cursor: default;
}

circle.searchCenter:hover {
  fill: #34495e;
}

.map {
  position: relative;
  display: flex;
  grid-column: 1;
  flex-direction: column;
  justify-content: center;
  background-color: #bbf0f0;
  overflow: hidden;
}

.map button {
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: #34495e;
  color: white;
  border-style: hidden;
  left: 1em;
  border-radius: 50%;
  font-size: 1.5rem;
  outline: none;
}

.map button:hover {
  background: #455a6f;
  color: #FF7944;
  cursor: pointer;
}

.map > svg {
  overflow: hidden;
}

.outside {
  margin: auto;
}

.map .in {
  top: 1em;
}

.map .out {
  top: 4em;
}

.no-results {
  position: absolute;
  z-index: 100;
  top: 25%;
  left: 25%;
  font-size: 2.5em;
  color: white;
  width: 50%;
  height: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #34495e;
}

.no-results-text {
  margin: 0 3em;
}

.no-results-text i {
  font-size: 2em;
}

.loading {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  font-size: 2.5em;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .9);
  cursor: wait;
}

.rsm-svg {
  width: 100%;
  height: 100%;
}

.loading i {
  margin-right: .2em;
}

input {
  margin-bottom: 0.5em;
}
.submit,
button {
  margin-top: 1em;
  border-radius: 3px;
  background: #FF7944;
  border: #FF7944;
  padding: 0.5em 0.5em;
  color: white;
  cursor: pointer;
}

.value {
  display: inline-block;
  width: 30px;
}

.submit:focus {
  outline: none;
}

.submit:hover,
.error-popup button:hover,
.sidebar-content button:hover {
  background: #f85;
  border: #f85;
}

.submit:active,
.error-popup button:active,
.sidebar-content button:active {
  background: #FF5722;
  border: #FF5722;
}

.error-popup {
  background: #34495e;
  width: 33%;
  height: 40%;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
}

.sort {
  margin: 0.5em 0;
}

.error-popup button{
  margin: 0 auto;
  margin-top: 1em;
  width: auto;
}

.error-popup i {
  margin: .5em auto;
  font-size: 1.5em;
}

.page-control {
  width: 60%;
  display: flex;
  margin: 0 auto;
}

.page-control button {
  margin: 0;
}

.page-control div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
